PersonalWebService/.vs/PersonalWebService/v16/.suo
PersonalWebService/packages/Microsoft.AspNet.WebApi.Client.5.2.7/Microsoft.AspNet.WebApi.Client.5.2.7.nupkg
PersonalWebService/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1.nupkg
PersonalWebService/.vs/PersonalWebService/v16/Server/sqlite3/storage.ide-wal
PersonalWebService/.vs/PersonalWebService/v16/Server/sqlite3/storage.ide-shm
