PersonalWebService/.vs/PersonalWebService/v16/.suo
PersonalWebService/packages/Microsoft.AspNet.WebApi.Client.5.2.7/Microsoft.AspNet.WebApi.Client.5.2.7.nupkg
PersonalWebService/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1.nupkg
PersonalWebService/.vs/PersonalWebService/v16/Server/sqlite3/storage.ide-wal
PersonalWebService/.vs/PersonalWebService/v16/Server/sqlite3/storage.ide-shm
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.TagHelpers.input.cache
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.RazorTargetAssemblyInfo.cs
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.RazorTargetAssemblyInfo.cache
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.RazorCoreGenerate.cache
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.RazorAssemblyInfo.cs
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Razor/Views/Home/Contact.g.cshtml.cs
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Razor/Views/Home/About.g.cshtml.cs
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.csprojAssemblyReference.cache
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.csproj.FileListAbsolute.txt
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.csproj.CoreCompileInputs.cache
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Razor/Views/Home/Privacy.g.cshtml.cs
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.csproj.CopyComplete
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.assets.cache
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.Views.pdb
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.Views.dll
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.RazorAssemblyInfo.cache
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.AssemblyInfoInputs.cache
PersonalWebService/Website/obj/Website.csproj.nuget.g.targets
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.pdb
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.dll
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.TagHelpers.output.cache
PersonalWebService/Website/obj/Website.csproj.nuget.g.props
PersonalWebService/Website/obj/Website.csproj.nuget.dgspec.json
PersonalWebService/Website/obj/Debug/netcoreapp2.1/Website.AssemblyInfo.cs
PersonalWebService/Website/obj/Website.csproj.nuget.cache
