.dashboardPopup {
    border-radius:20px;
    background-color: #141821;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top:-12.5%;
    margin-left:-25%;
    width: 50%;
    height: 50%;
    z-index: 9999;
}

.dashboardPopupButton {    
    border: solid 2px darkgrey;
    background-color: #384156;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: fixed;
    left: -4%;
    top: 50%;
    width: 10%;
    height: 3.5%;
    text-align: center;
    margin: 0 !important;
    text-wrap: none;
    white-space: nowrap;
    font-size: 1.0vw;
    font-weight: bold;

    /* Rotate Text 90 degrees */
    transform: rotate(-90deg);
    /* Legacy vendor prefixes */
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}

.dashboardPopupButton:hover {
    color: darkgrey;
    text-decoration: none;
}

.dashboardPopupButton a:hover {
    color: darkgrey;
    text-decoration: none;
}

.dashboardPopupButton a{
    color:lightgrey;
}


    .dashboardPopup-header {
        height: 9%;
        padding: 10px;
        border-bottom: solid 1px;
        display: flex !important;
        flex-direction: row;
    }

.dashboardPopup-titleText {
    margin: 0 !important;
    text-align: center !important;
    width:100%;
}

.dashboardPopup-closeButton{
    text-align:left;
}

.dashboardPopup-parentList{
    font-weight:bold;
}

.dashboardPopup-childList{
    font-weight:normal !important;
}

/* Boostrap Overrides */
.modal-header {
    padding: 10px !important;
}

.modal-body{
    height:91% !important;
}