body {
    background-color: #141821;
    color:lightgrey;
    padding:0 !important;
}

footer{
    text-align:center;
    z-index:0;
}

.customContainer {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
}

.dashboardContainer {
    padding-top: 1%;
    text-align: center;
    vertical-align:middle;
}

.dashboardContainer .col-md-4:nth-child(1) {
    padding-left: 0 !important;
}

.dashboardContainer .col-md-4:nth-child(3) {
    padding-right: 0 !important;
}

.widgetContainer {
    height: 300px;
    background-color: #2E3442;
    border-radius: 5%;
    padding: 0;
}

.coursesText{
    padding:5% 3% 3% 3%;
    text-align:left;
}

.courseTitle {
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center !important;
    font-size: 24px !important;
}

canvas {
    overflow: hidden;
}

.widgetTitle {
    font-size:24px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

hr{
    color:lightgrey !important;
    opacity:0.5 !important;
    border-width:2px !important;
}

/* Overriding Bootstrap */
.navbar-brand {
    float: left !important;
    text-align: center !important;
}