canvas {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    display: block !important;
}

.widgetContainer {
    height: 300px;
    background-color: #2E3442 !important;
}