@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-12 dashboardContainer">
        <div class="col-md-2 widgetOne">
            Value 1:
        </div>
        <div class="col-md-2 horizontalSpacer">

        </div>
        <div class="col-md-2 widgetTwo">
            Value 2:
        </div>
        <div class="col-md-2 horizontalSpacer">

        </div>
        <div class="col-md-2 widgetThree">
            Value 3:
        </div>
    </div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row">

</div>

<div class="col-md-12 visualStudioBlog">
    <div class="visualStudioBlog-header">
        <div class="visualStudioBlog-header-close">
            <a href="javascript:void(0)" onclick="togglePanel('visualStudioBlog')"><span class="glyphicon glyphiconvisualStudioBlog glyphicon-remove"></span></a>
        </div>
        <div class="visualStudioBlog-header-title">
            Visual Studio Developers Blog
        </div>
    </div>
    <div class="visualStudioBlog-body">
        @Html.Raw(ViewData["VisualStudioBlogHtml"])
    </div>
</div>

<div class="col-md-12 googleDevsBlog">
    <div class="googleDevsBlog-header">
        <div class="googleDevsBlog-header-close">
            <a href="javascript:void(0)" onclick="togglePanel('googleDevsBlog')"><span class="glyphicon glyphicongoogleDevsBlog glyphicon-remove"></span></a>
        </div>
        <div class="googleDevsBlog-header-title">
            Google Developers Blog
        </div>
    </div>
    <div class="googleDevsBlog-body">
        @Html.Raw(ViewData["GoogleDevsBlogHtml"])
    </div>
</div>