@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-12 dashboardContainer">
        <div class="col-md-3 widgetContainer widgetOne" id="widgetOne">
            <iframe class="gaugeWidget"
                    src="~/widgets/html/GaugeWidget.html"
                    width="120"
                    height="60"
                    scrolling="no"
                    frameborder="0"></iframe>
        </div>

        <div class="col-md-1 horizontalSpacer"></div>

        <div class="col-md-3 widgetContainer widgetTwo" id="widgetTwo">
            <iframe class="nestedCirclesWidget" 
                    src="~/widgets/html/NestedCirclesWidget.html" 
                    width="160" 
                    height="160"
                    scrolling="no"
                    frameborder="0">
            </iframe>
        </div>

        <div class="col-md-1 horizontalSpacer"></div>

        <div class="col-md-3 widgetContainer widgetThree" id="widgetThree">
            <iframe class="pieChartWidget"
                    src="~/widgets/html/PieChartWidget.html"
                    width="180"
                    height="180"
                    scrolling="no"
                    frameborder="0"></iframe>
        </div>
    </div>
</div>

<div class="col-md-12 visualStudioBlog">
    <div class="visualStudioBlog-header">
        <div class="visualStudioBlog-header-close">
            <a href="javascript:void(0)" onclick="togglePanel('visualStudioBlog')"><span class="glyphicon glyphiconvisualStudioBlog glyphicon-remove"></span></a>
        </div>
        <div class="visualStudioBlog-header-title">
            Visual Studio Developers Blog
        </div>
    </div>
    <div class="visualStudioBlog-body">
        @Html.Raw(ViewData["VisualStudioBlogHtml"])
    </div>
</div>

<div class="col-md-12 googleDevsBlog">
    <div class="googleDevsBlog-header">
        <div class="googleDevsBlog-header-close">
            <a href="javascript:void(0)" onclick="togglePanel('googleDevsBlog')"><span class="glyphicon glyphicongoogleDevsBlog glyphicon-remove"></span></a>
        </div>
        <div class="googleDevsBlog-header-title">
            Google Developers Blog
        </div>
    </div>
    <div class="googleDevsBlog-body">
        @Html.Raw(ViewData["GoogleDevsBlogHtml"])
    </div>
</div>